@mixin tab {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin fab {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: 520px) {
    @content;
  }
}

// Company
.company {
  &__title {
    top: 250px;
    left: 40px;

    @include fab {
      top: 220px;
      left: 20px;
    }
    @include sp {
      top: 180px;
    }
  }
  &__sub-title {
    top: 260px;
    left: 120px;

    @include fab {
      top: 230px;
      left: 40px;
    }
    @include sp {
      top: 180px;
    }
  }
}
.company-about {
  position: relative;
  z-index: 1;
  text-align: center;
  &__illust {
    position: relative;
    z-index: 1;
    margin-top: 120px;
    max-width: 600px;

    @include fab {
      margin-top: 100px;
      max-width: calc(100% - 80px);
    }
    @include sp {
      margin-top: 80px;
      max-width: calc(100% - 40px);
    }
  }
  &__bg {
    position: relative;
    z-index: 1;
    padding: 40px;
    background-color: white;
    box-shadow: 0px 1px 6px rgba($color: #454545, $alpha: 0.2);

    @include tab {
      padding: 20px;
    }
  }
  &__text {
    position: relative;
    z-index: 1;
    letter-spacing: 0.2em;
    font-size: 2.6rem;

    @include fab {
      font-size: 2rem;
    }
    @include sp {
      font-size: 1.7rem;
    }
  }
  &__paint {
    position: absolute;
    top: 70px;
    left: -100px;
    max-width: 730px;
  }
}

.info {
  margin-top: 80px;

  @include fab {
    margin-top: 60px;
  }
  &__title {
    text-align: center;
    letter-spacing: 0.4em;
    font-weight: bold;
    font-size: 3.2rem;

    @include tab {
      font-size: 2.6rem;
    }
    @include fab {
      font-size: 2.4rem;
    }
    @include sp {
      font-size: 2rem;
    }
  }
  &__bg {
    margin: 40px auto 0;
    padding: 30px 80px 80px;
    max-width: 800px;
    background-color: white;
    box-shadow: 0px 1px 6px rgba($color: #454545, $alpha: 0.2);

    @include fab {
      margin-top: 30px;
      padding: 30px 40px 60px;
    }
  }
  &__item {
    display: flex;
    margin-top: 50px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #555;

    @include tab {
      margin-top: 30px;
    }
    @include sp {
      flex-direction: column;
      padding-bottom: 10px;
    }
  }
  &__left {
    width: 200px;
    letter-spacing: 0.1em;
    font-weight: lighter;
    font-size: 2rem;

    @include tab {
      font-size: 1.5rem;
    }
    @include fab {
      width: 130px;
    }
    @include sp {
      font-size: 1.3rem;
    }
  }
  &__right {
    letter-spacing: 0.1em;
    font-size: 2rem;

    @include tab {
      font-size: 1.5rem;
    }
    @include sp {
      margin-top: 10px;
      font-size: 1.4rem;
    }
  }
}

// Works
.works {
  &__title {
    top: 250px;
    left: 40px;

    @include fab {
      top: 220px;
      left: 20px;
    }
    @include sp {
      top: 180px;
    }
  }
  &__sub-title {
    top: 280px;
    left: 120px;

    @include fab {
      top: 240px;
      left: 70px;
    }
    @include sp {
      top: 190px;
    }
  }

  &__about {
    margin: 120px auto 0;
    max-width: 800px;
    padding: 0 20px;
    position: relative;
    @include fab {
      margin-top: 80px;
    }
  }
  &__about-paint {
    position: absolute;
    top: -70px;
    right: -100px;
    max-width: 630px;
    @include tab {
      right: 0px;
      max-width: 550px;
    }
    @include fab {
      max-width: 400px;
      top: 60px;
    }
    @include sp {
      top: 100px;
    }
  }

  &__catch {
    font-size: 3.2rem;
    text-align: center;
    position: relative;
    z-index: 1;
    @include tab {
      font-size: 2.8rem;
    }
    @include sp {
      font-size: 2.2rem;
    }
  }

  &__catch-text {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-top: 40px;
    position: relative;
    z-index: 1;
    @include tab {
      font-size: 1.4rem;
    }
    @include sp {
      font-size: 1.3rem;
      margin-top: 30px;
    }
  }
  

  &__wrap {
    max-width: 1100px;
    margin: 80px auto 0;
    padding: 0 20px;
    position: relative;
    @include fab {
      padding: 0;
    }
  }
  &__paint {
    max-width: 400px;
    position: absolute;
    bottom: 840px;
    left: -60px;
    @include tab {
      max-width: 300px;
      left: -10px;
    }
  }

  &__img {
    position: absolute;
    max-width: 680px;
    top: -140px;
    width: 60vw;
    @include fab {
      width: 80vw;
    }
    @include sp {
      width: 90vw;
    }
  }

  &__content {
    margin-top: 240px;
    position: relative;
    z-index: 1;
    &:nth-of-type(even) {
      .works__textarea {
        margin-left: 0;
      }
      .works__img {
        right: 0;
      }
    }
    @include sp {
      margin-top: 200px;
    }
  }

  &__textarea {
    background-color: white;
    padding: 40px 60px;
    position: relative;
    max-width: 750px;
    margin-left: auto;
    width: 70vw;
    @include tab {
      padding: 40px;
    }
    @include fab {
      width: 80vw;
    }
    @include sp {
      width: 90vw;
      padding: 20px;
    }
  }
  &__name {
    font-size: 2.6rem;
    letter-spacing: 0.1em;
    span {
      font-size: 1.4rem;
      margin-left: 20px;
      @include fab {
        font-size: 1.2rem;
      }
      @include sp {
        font-size: 1rem;
      }
    }
    @include tab {
      font-size: 2.2rem;
    }
    @include sp {
      font-size: 1.8rem;
    }
  }
  &__area {
    font-size: 1.6rem;
    margin-top: 20px;
    @include tab {
      font-size: 1.4rem;
    }
    @include sp {
      font-size: 1.2rem;
    }
  }
  &__intro {
    font-size: 1.8rem;
    line-height: 2;
    margin-top: 20px;
    @include tab {
      font-size: 1.6rem;
    }
    @include fab {
      font-size: 1.4rem;
    }
    @include sp {
      font-size: 1.3rem;
    }
  }
  &__illust {
    position: absolute;
    max-width: 350px;
    top: -150px;
    right: 0;
    @include tab {
      max-width: 300px;
      top: -100px;
    }
    @include fab {
      top: 0;
    }
    @include sp {
      max-width: 250px;
    }
    &--sales {
      position: absolute;
      max-width: 350px;
      top: 0;
      right: 0;
      @include tab {
        max-width: 300px;
      }
      @include sp {
        max-width: 250px;
      }
    }
  }
}

// Contact
.contact {
  &__title {
    top: 250px;
    left: 40px;

    @include fab {
      top: 220px;
      left: 20px;
    }
    @include sp {
      top: 180px;
    }
  }
  &__sub-title {
    top: 280px;
    left: 120px;

    @include fab {
      top: 240px;
      left: 70px;
    }
    @include sp {
      top: 190px;
    }
  }
}

.form {
  position: relative;
  z-index: 1;
  &__wrap {
    margin-bottom: 200px;
    position: relative;

    @include fab {
      max-width: 500px;
    }
  }
  &__paint {
    position: absolute;
    max-width: 770px;
    right: 0;
    @include fab {
      top: 200px;
    }
    @include sp {
      top: 50px;
    }
  }
  &__text {
    margin-top: 120px;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 1.6rem;
    line-height: 1.5;

    @include fab {
      margin-top: 80px;
    }
    @include sp {
      text-align: justify;
      font-size: 1.2rem;
    }
  }
  &__type-title {
    margin-top: 120px;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 1.8rem;

    @include tab {
      font-size: 1.6rem;
    }
    @include sp {
      margin-top: 60px;
      font-size: 1.3rem;
    }
  }
  &__type-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;

    @include fab {
      align-items: flex-start;
      flex-direction: column;
    }
    @include sp {
      margin: 30px 0 40px;
    }
  }
  &__type {
    display: flex;
    align-items: center;

    @include fab {
      margin-top: 10px;
    }
  }
  &__radio {
    width: 20px;
    height: 20px;
    outline: none;
    border-radius: 100%;
    background-color: white;

    appearance: none;
    @include sp {
      width: 15px;
      height: 15px;
    }
    &:checked {
      border: 5px solid white;
      background-color: gray;

      @include sp {
        border: 3px solid white;
      }
    }
  }
  &__label {
    margin-top: 2px;
    margin-right: 40px;
    margin-left: 20px;
    letter-spacing: 0.1em;
    font-size: 1.8rem;

    @include tab {
      font-size: 1.5rem;
    }
    @include sp {
      font-size: 1.3rem;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto 0;
    max-width: 800px;

    @include fab {
      align-items: flex-start;
      flex-direction: column;
    }
    @include sp {
      margin-top: 20px;
    }
    &:nth-of-type(6) {
      align-items: flex-start;
      .form__left {
        margin-top: 20px;
      }
    }
  }
  &__left {
    letter-spacing: 0.1em;
    font-size: 1.8rem;

    @include tab {
      font-size: 1.6rem;
    }
    @include sp {
      font-size: 1.3rem;
    }
  }
  &__right {
    max-width: 500px;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background-color: white;

    @include fab {
      margin-top: 10px;
      height: 40px;
    }
  }
  &__content {
    max-width: 500px;
    width: 100%;
    height: 200px;
    border-radius: 3px;
    background-color: white;
    resize: none;

    @include fab {
      margin-top: 10px;
    }
  }
  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto 0;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    background-color: #fff250;
    box-shadow: 0px 2px 6px rgba($color: #4b4b4b, $alpha: 0.2);
    font-size: 1.8rem;

    @include sp {
      margin-top: 60px;
      font-size: 1.5rem;
    }
  }
}
