@mixin tab {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin fab {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: 520px) {
    @content;
  }
}

.hero {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 120px 20px 0;
  max-width: 1250px;
  &__img {
    max-width: 850px;
  }
  &__title {
    top: 195px;
    left: 80px;

    @include sp {
      left: 30px;
    }
  }
  &__sub-title {
    top: 260px;
    left: 0;

    @include sp {
      top: 230px;
    }
  }
}

.about {
  position: relative;
  z-index: 1;
  margin: 160px auto 0;
  padding-top: 100px;

  @include tab {
    margin-top: 120px;
    padding-top: 70px;
  }
  @include fab {
    margin-top: 100px;
    padding-top: 60px;
  }
  @include sp {
    margin-top: 80px;
    padding-top: 80px;
  }
  &__text {
    position: relative;
    z-index: 1;
    text-align: center;
    text-shadow: 2px 2px 4px rgba($color: #555555, $alpha: 0.2);
    letter-spacing: 0.3em;
    font-size: 2.4rem;
    line-height: 2;

    @include tab {
      font-size: 2rem;
    }
    @include fab {
      font-size: 2.4vw;
    }
    @include sp {
      text-align: justify;
      font-size: 1.4rem;
    }
  }
  &__back {
    position: absolute;
    top: 0;
    right: 0;
    &--text {
      margin-bottom: 15px;
      text-shadow: 2px 2px 4px rgba($color: #555555, $alpha: 0.2);
      letter-spacing: 0.2em;
      opacity: 0.1;

      @include fab {
        margin-bottom: 5px;
      }
      @include sp {
        opacity: 0.2;
      }
      &:nth-of-type(1) {
        transform: translate(-120px);

        @include fab {
          transform: translate(-60px);
        }
      }
      &:nth-of-type(2) {
        transform: translate(-60px);

        @include fab {
          transform: translate(-30px);
        }
      }
    }
    &--big {
      font-size: 4rem;

      @include tab {
        font-size: 3.2rem;
      }
      @include fab {
        font-size: 2.6rem;
      }
      @include sp {
        font-size: 1.6rem;
      }
    }
    &--small {
      font-size: 2.4rem;

      @include tab {
        font-size: 2rem;
      }
      @include fab {
        font-size: 1.6rem;
      }
      @include sp {
        font-size: 1.3rem;
      }
    }
    &--translation {
      margin-left: 30px;
      font-size: 2.4rem;

      @include tab {
        font-size: 2rem;
      }
      @include fab {
        margin-left: 15px;
        font-size: 1.6rem;
      }
      @include sp {
        font-size: 1.3rem;
      }
    }
  }

  &__btn {
    position: relative;
    &--link {
      position: relative;
      position: relative;
      z-index: 1;
      display: table;
      margin: 80px 120px 0 auto;
      font-size: 1.8rem;

      @include fab {
        font-size: 1.5rem;
      }
    }
    &--line {
      position: absolute;
      bottom: -10px;
      left: 0;
    }
    &--paint {
      position: absolute;
      top: -40px;
      right: 10px;
      max-width: 120px;

      @include fab {
        right: -10px;
      }
    }
  }

  &__paint {
    position: absolute;
    top: 50px;
    left: -100px;
    max-width: 700px;

    @media screen and (max-width: 1199px) {
      top: 80px;
      left: 0;
      max-width: 600px;
    }
    @media screen and (max-width: 1024px) {
      max-width: 400px;
    }
    @media screen and (max-width: 520px) {
      top: 100px;
      max-width: 300px;
    }
  }
}

.works {
  position: relative;
  margin-top: 160px;

  @include tab {
    margin-top: 120px;
  }
  @include fab {
    margin-top: 100px;
  }
  @include sp {
    margin-top: 80px;
  }
  &__title {
    margin-bottom: 60px;

    @include fab {
      margin-bottom: 30px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    width: 100%;

    @include fab {
      flex-direction: column;
    }
  }
  &__right {
    position: relative;
    z-index: 1;
    max-width: 600px;
    width: 60%;
    height: auto;

    @include tab {
      width: 50%;
    }
    @include fab {
      margin-top: 30px;
      max-width: 100%;
      width: 100%;
    }
    @include sp {
      margin-top: 20px;
    }
  }
  &__left {
    position: relative;
    z-index: 1;
    padding: 10px 0 0 50px;

    @include tab {
      padding-left: 30px;
    }
    &--title {
      letter-spacing: 0.2em;
      font-size: 2.4rem;

      @include tab {
        font-size: 2rem;
      }
    }
    &--text {
      margin: 20px 20px 0 0;
      max-width: 360px;
      text-align: justify;
      letter-spacing: 0.05em;
      font-size: 1.6rem;
      line-height: 1.5;

      @include tab {
        margin-top: 10px;
        font-size: 1.3rem;
      }
      @include fab {
        min-height: 170px;
        max-width: 90%;
        font-size: 1.5rem;
      }
      @include sp {
        min-height: 140px;
        max-width: 100%;
        font-size: 1.3rem;
      }
    }
    &--sub-title {
      position: absolute;
      top: 60px;
      left: 0;
      -ms-writing-mode: tb-rl;
      letter-spacing: 0.2em;
      font-size: 1.8rem;

      writing-mode: vertical-rl;
      @include tab {
        top: 45px;
        font-size: 1.2rem;
      }
    }
    &--line {
      position: absolute;
      left: 5px;
      margin-top: 10px;
      width: 1px;
      height: 100px;
      background-color: #555555;

      @include tab {
        height: 70px;
      }
      @include sp {
        height: 50px;
      }
    }
  }
  &__sub-content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    margin: -70px 0 80px;
    &--img {
      max-width: 32.7%;
    }
  }
  &__btn {
    position: relative;
    &--link {
      position: relative;
      z-index: 1;
      display: table;
      margin: 80px 120px 0 auto;
      font-size: 1.8rem;

      @include fab {
        margin-right: 80px;
        font-size: 1.5rem;
      }
      @include sp {
        margin-top: 0;
        margin-right: 60px;
      }
    }
    &--line {
      position: absolute;
      bottom: -10px;
      left: 0;
    }
    &--paint {
      position: absolute;
      top: -40px;
      right: 10px;
      max-width: 120px;

      @include fab {
        right: -10px;
      }
    }
  }
  &__paint {
    &--top {
      position: absolute;
      top: 100px;
      left: -20px;
      max-width: 320px;

      @include fab {
        max-width: 280px;
      }
      @include sp {
        max-width: 230px;
      }
    }
    &--bottom {
      position: absolute;
      bottom: 480px;
      left: -60px;
      max-width: 470px;
      @media screen and (max-width: 1199px) {
        left: 0;
        max-width: 380px;
      }
      @media screen and (max-width: 767px) {
        bottom: 510px;
        max-width: 300px;
      }
    }
  }
}

.recruit {
  position: relative;
  margin-top: 240px;

  @include fab {
    margin-top: 160px;
  }
  @include sp {
    margin-top: 120px;
  }
  &__catch {
    position: relative;
    z-index: 1;
    text-align: center;
    letter-spacing: 0.3em;
    font-size: 4.2rem;

    @include tab {
      font-size: 3.4rem;
    }
    @include fab {
      font-size: 3rem;
    }
    @include sp {
      font-size: 2.1rem;
    }
  }
  &__text {
    position: relative;
    z-index: 1;
    margin-top: 40px;
    text-align: center;
    font-size: 2rem;
    line-height: 3;

    @include tab {
      text-align: justify;
      font-size: 1.7rem;
      line-height: 2;
    }
    @include sp {
      font-size: 1.4rem;
    }
  }
  &__btn {
    position: relative;
    &--link {
      position: relative;
      z-index: 1;
      display: table;
      margin: 80px 120px 0 auto;
      font-size: 1.8rem;

      @include fab {
        font-size: 1.5rem;
      }
    }
    &--line {
      position: absolute;
      bottom: -10px;
      left: 0;
    }
    &--paint {
      position: absolute;
      top: -40px;
      right: 10px;
      max-width: 120px;

      @include fab {
        right: -10px;
      }
    }
  }
  &__paint {
    &--left {
      position: absolute;
      top: -300px;
      left: -40px;
      max-width: 350px;

      @include fab {
        top: -100px;
        max-width: 200px;
      }
    }
    &--right {
      position: absolute;
      top: 0;
      right: -50px;
      max-width: 340px;
      @media screen and (max-width: 1199px) {
        top: 40px;
        right: 20px;
      }
      @media screen and (max-width: 520px) {
        top: 200px;
        max-width: 280px;
      }
    }
  }
}

.news {
  margin-top: 80px;
  padding: 60px 20px;
  width: 100vw;
  height: 100%;
  background-image: url(../img/news.jpg);
  background-position: center;
  background-size: cover;

  &__bg {
    padding: 40px 30px;
    width: 100%;
    height: 100%;
    background-color: rgba($color: white, $alpha: 0.8);
  }
  &__title {
    margin-left: 60px;
    text-align: left;
  }
  &__text {
    margin-top: 30px;
    margin-left: 40px;
    padding-bottom: 10px;
    max-width: 600px;
    border-bottom: 1px dotted #555555;
    letter-spacing: 0.1em;
    font-size: 2rem;
    line-height: 1.5;

    @include fab {
      margin-left: 0;
      font-size: 1.6rem;
    }
    @include sp {
      margin-top: 20px;
      font-size: 1.4rem;
    }
    &--time {
      @include sp {
        display: block;
        margin-bottom: 5px;
        font-size: 1.3rem;
      }
    }
  }
}
